<div class="recuperacao-container">

      <a routerLink="/login" class="recuperacao-arrow" style="cursor: pointer; margin-top: 30px; margin-left: 30px;">
        <svg width="30" height="30" viewBox="0 0 59 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M54.918 43.0015L34.2157 23.7779L54.918 4.55435" stroke="white" stroke-width="5.51686" stroke-linecap="square" />
          <path d="M25.3359 43.0015L4.63364 23.7779L25.3359 4.55435" stroke="white" stroke-width="5.51686" stroke-linecap="square" />
        </svg>
      </a>

      <form class="recuperacao-form" #recuperacaoForm="ngForm" (submit)="onSubmit()">

        <h1 class="recuperacao-title">Recuperar Senha</h1>

        <div class="recuperacao-field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Digite seu email" [(ngModel)]="email" required>
        </div>

        <div class="d-flex flex-column align-items-center">
          <div class="alert alert-success" *ngIf="forgotSuccess">
            Link de Recuperação Enviado com Sucesso</div>
        </div>

        <button class="recuperacao-button" type="submit">Enviar Link de Recuperação</button>

      </form>
</div>

  