<section class="navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid w-100"> 
                <a class="navbar-brand" routerLink="/home">
                    <img src="../../assets/images/CoreoMind-img.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mr-5 p-2">
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" routerLink="/home" fragment="home">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" routerLink="/home" fragment="services">Serviços</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" routerLink="/home" fragment="projects">Coreografias</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" routerLink="/home" fragment="about">Sobre</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" routerLink="/login">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</section>

<section class="banner" id="home">
    <div class="container">
        <div class="text">
            <h1>CoreoMind</h1>
            <p>
                Uma plataforma para criar, compartilhar conhecimento e
                aprender com o apoio das coreografias didáticas e de meta-aprendizagem.
            </p>
        </div>
        <div class="visual">
            <img src="../../assets/images/bailarinaIMG.webp" alt="" class="img-default">
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="container">


        <h2>Serviços</h2>


        <div class="services-items flex-sb">

            <div class="item">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                <h3>Autoconhecimento</h3>
                <p>
                    Descubra seu perfil de aprendizado através dos questionários Vark e Honey-Alonso.
                </p>
            </div>

            <div class="item type2">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <h3>Gestão de Tempo</h3>
                <p>
                    Tenha a liberdade de adequar seus estudos à sua rotina!
                </p>
            </div>

            <div class="item">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <h3>Coreografias</h3>
                <p>
                    Crie coreografias destinadas aos seus objetivos de aprendizado.
                </p>
            </div>


            <div class="item type2">
                <i class="fa-solid fa-comments"></i>
                <h3>Discussões</h3>
                <p>
                    Utilize o ambiente da plataforma para debates sobre os temas abordados em sala.
                </p>
            </div>

            <div class="item">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>Trabalho em Equipe</h3>
                <p>
                    O CoreoMind pode ser utilizado em grupos! Chame os seus colegas e inicie coreografias, 
                    potencializando o aprendizado de cada um.
                </p>
            </div>

            <div class="item type2">
                <i class="fa fa-child" aria-hidden="true"></i>
                <h3>Autonomia</h3>
                <p>
                    Seja o protagonista no seu processo de aprendizagem! Aqui no nosso ambiente o educando
                    se torna o principal agente dos seus estudos.
                </p>
            </div>

        </div>


    </div>
</section>

<section class="projects" id="projects">
    <div class="container">

        
        <div class="project-item">
            <div class="visual">
                <img src="../../assets/images/pic5.jpg" alt="Imagem Coreografia Didática">
            </div>
            <div class="text">
                <h3>Coreografia Didática</h3>
                <p>
                    Elaborado inicialmente por Oser e Patry em 1990. A analogia à dança é utilizada para representar o processo
                    de ensino e aprendizagem, criando uma conexão entre ambos e proporcionando um modelo didático inovador.
                </p>
                <p>
                    Em um ambiente de aprendizagem colaborativa e ativa, as coreografias podem facilitar o engajamento dos  
                    alunos e promover a construção de conhecimento de maneira dinâmica e contextualizada.
                </p>
            </div>
        </div>

        
        <div class="project-item flex-row-reverse">
            <div class="visual">
                <img src="../../assets/images/pic4.jpg" alt="Imagem Coreografia de Meta-Aprendizagem">
            </div>
            <div class="text">
                <h3>Coreografia de Meta-Aprendizagem</h3>
                <p>
                    As coreografias de meta-aprendizagem são estratégias que coordenam múltiplos modelos para otimizar o aprendizado 
                    em tarefas complexas. Elas promovem colaboração e adaptação entre os modelos, utilizando técnicas como aprendizado 
                    federado e multi-agente para melhorar a generalização e eficiência.
                </p>
                <p>
                    Essas abordagens evoluem por meio da construção de representações, troca de conhecimentos e adaptação contínua ao ambiente. 
                    Aplicadas em áreas como saúde e visão computacional, elas destacam o potencial do aprendizado colaborativo em superar os 
                    limites do aprendizado tradicional.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="about" id="about">
    <div class="container">


        <div class="text flex-sb">
            <h2>Sobre Nós</h2>
            <div class="para">
                <p>
                    Olá, somos um grupo de pesquisa vinculado ao Instituto Federal de Pernambuco (IFPE) com a proposta de
                    explorar as coreorafias didáticas. Sob orientação da Prof. Dr. Cristiane Silva nosso projeto visa a construção de uma
                    plataforma web para o desenvolvimento da autonomia do educando no processo de ensino e de aprendizagem através das coreografias didáticas.
                </p>
                <p>
                    Assim, convidamos você a conhecer este universo e potencializar o seu aprendizado junto à esta plataforma.
                    Lembre-se de que seu comprometimento e dedicação serão indispensáveis nessa jornada, bons estudos!
                </p>
            </div>
        </div>


        <div class="visual">
            <img src="../../assets/images/ifpe.jpg" alt="" class="fit">
        </div>


    </div>
</section>
<app-footer></app-footer>